# Problem statement is predicting the sales price of house

# We need to concat train and test then we need to give salesprice value as 99
# we preprocess all data thenn we seperate the test data which contain saleprce=99
# then we remove saleprice from test

In [1]:
import pandas as pd

In [39]:
train_data=pd.read_csv("D:\\Kaggle Projects\\House price\\train.csv")
train_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
test_data=pd.read_csv("D:\\Kaggle Projects\\House price\\test.csv")
test_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [4]:
99 in train_data['SalePrice'].values

False

In [5]:
Sale1=[99]*1459 #creating SalePrice =99 for all testdata
test_data['SalePrice']=Sale1

In [6]:
test_data.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,99
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,99

In [7]:
#Concatin train and test data axis=0 means upper side train data followed by test at down
data=pd.concat([train_data,test_data],axis=0)
data.shape

(2919, 81)

In [8]:
data_cols=data.columns
data_cols

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [9]:
#finding null values
null_val=[]
null_cols=[]
for i in range(81):
    print(data_cols[i]," : ",data[data_cols[i]].isnull().sum())
    null_val.append(data[data_cols[i]].isnull().sum()) #here we storing all null_values in list

for j in range(81):
    if null_val[j]>0 :
        null_cols.append(data_cols[j]) # here we storing column names which contains null values

Id  :  0
MSSubClass  :  0
MSZoning  :  4
LotFrontage  :  486
LotArea  :  0
Street  :  0
Alley  :  2721
LotShape  :  0
LandContour  :  0
Utilities  :  2
LotConfig  :  0
LandSlope  :  0
Neighborhood  :  0
Condition1  :  0
Condition2  :  0
BldgType  :  0
HouseStyle  :  0
OverallQual  :  0
OverallCond  :  0
YearBuilt  :  0
YearRemodAdd  :  0
RoofStyle  :  0
RoofMatl  :  0
Exterior1st  :  1
Exterior2nd  :  1
MasVnrType  :  24
MasVnrArea  :  23
ExterQual  :  0
ExterCond  :  0
Foundation  :  0
BsmtQual  :  81
BsmtCond  :  82
BsmtExposure  :  82
BsmtFinType1  :  79
BsmtFinSF1  :  1
BsmtFinType2  :  80
BsmtFinSF2  :  1
BsmtUnfSF  :  1
TotalBsmtSF  :  1
Heating  :  0
HeatingQC  :  0
CentralAir  :  0
Electrical  :  1
1stFlrSF  :  0
2ndFlrSF  :  0
LowQualFinSF  :  0
GrLivArea  :  0
BsmtFullBath  :  2
BsmtHalfBath  :  2
FullBath  :  0
HalfBath  :  0
BedroomAbvGr  :  0
KitchenAbvGr  :  0
KitchenQual  :  1
TotRmsAbvGrd  :  0
Functional  :  2
Fireplaces  :  0
FireplaceQu  :  1420
GarageType  :  157
GarageYrBlt  :  159
GarageFinish  :  159
GarageCars  :  1
GarageArea  :  1
GarageQual  :  159
GarageCond  :  159
PavedDrive  :  0
WoodDeckSF  :  0
OpenPorchSF  :  0
EnclosedPorch  :  0
3SsnPorch  :  0
ScreenPorch  :  0
PoolArea  :  0
PoolQC  :  2909
Fence  :  2348
MiscFeature  :  2814
MiscVal  :  0
MoSold  :  0
YrSold  :  0
SaleType  :  1
SaleCondition  :  0
SalePrice  :  0

In [10]:
len(null_cols)  #We having total 19 columns which containing null values

34

In [11]:
# Lets check which column has how many null values   
for i in range(len(null_cols)):
    print(null_cols[i]," : ",data[null_cols[i]].isnull().sum())

MSZoning  :  4
LotFrontage  :  486
Alley  :  2721
Utilities  :  2
Exterior1st  :  1
Exterior2nd  :  1
MasVnrType  :  24
MasVnrArea  :  23
BsmtQual  :  81
BsmtCond  :  82
BsmtExposure  :  82
BsmtFinType1  :  79
BsmtFinSF1  :  1
BsmtFinType2  :  80
BsmtFinSF2  :  1
BsmtUnfSF  :  1
TotalBsmtSF  :  1
Electrical  :  1
BsmtFullBath  :  2
BsmtHalfBath  :  2
KitchenQual  :  1
Functional  :  2
FireplaceQu  :  1420
GarageType  :  157
GarageYrBlt  :  159
GarageFinish  :  159
GarageCars  :  1
GarageArea  :  1
GarageQual  :  159
GarageCond  :  159
PoolQC  :  2909
Fence  :  2348
MiscFeature  :  2814
SaleType  :  1

In [12]:
#Now we seen that some columns contain more than 33% null data
#So we need to drop that columns from our dataset
#here totaldata is 1500 so 40% is 650 
deleting_columns=[]
for i in range(len(null_cols)):
    if data[null_cols[i]].isnull().sum()>650:
        deleting_columns.append(null_cols[i])   
deleting_columns

['Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature']

In [13]:
data.drop(deleting_columns,axis=1,inplace=True)

In [14]:
data.shape #before we have 81 columns now we have 76 columns

(2919, 76)

In [15]:
#Here we are storing column names in which we need to fill value & which are not deleted.
fill_null_cols=[]
fill_null_cols=null_cols
for dc in deleting_columns:
    fill_null_cols.remove(dc)
fill_null_cols

['MSZoning',
 'LotFrontage',
 'Utilities',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Electrical',
 'BsmtFullBath',
 'BsmtHalfBath',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'SaleType']

In [16]:
#we can fill null continues data with median.
#null categorical data with mode.
#here in this examplefor deciding mean or median we consider if the count of unique() values -
#-in any column is greater than 50 then it belongs to continues data otherwise it is categorical.

In [17]:
#Here len() for counting length of each unique array data member
for i in range(len(fill_null_cols)):
    print(fill_null_cols[i]," : ",len(data[fill_null_cols[i]].unique()))
    
    if len(data[fill_null_cols[i]].unique())>50:
        #continues data replacing here by median
        data[fill_null_cols[i]]=data[fill_null_cols[i]].fillna(data[fill_null_cols[i]].median())
    else:
        #categorical data replacing here by mode
        data[fill_null_cols[i]]=data[fill_null_cols[i]].fillna(data[fill_null_cols[i]].mode()[0])

MSZoning  :  6
LotFrontage  :  129
Utilities  :  3
Exterior1st  :  16
Exterior2nd  :  17
MasVnrType  :  5
MasVnrArea  :  445
BsmtQual  :  5
BsmtCond  :  5
BsmtExposure  :  5
BsmtFinType1  :  7
BsmtFinSF1  :  992
BsmtFinType2  :  7
BsmtFinSF2  :  273
BsmtUnfSF  :  1136
TotalBsmtSF  :  1059
Electrical  :  6
BsmtFullBath  :  5
BsmtHalfBath  :  4
KitchenQual  :  5
Functional  :  8
GarageType  :  7
GarageYrBlt  :  104
GarageFinish  :  4
GarageCars  :  7
GarageArea  :  604
GarageQual  :  6
GarageCond  :  6
SaleType  :  10

In [18]:
data.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 76, dtype: int64

In [19]:
# columns names which contains catagorical value
data_choosen=data.columns
cat_cols1=[]
for i in data_choosen:
    if data[i].dtypes=='object':
        cat_cols1.append(i)
cat_cols1

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [20]:
len(cat_cols1)

38

In [21]:
for i in cat_cols1:
    print(str(i)+"  "+str(len(data[i].unique())))

MSZoning  5
Street  2
LotShape  4
LandContour  4
Utilities  2
LotConfig  5
LandSlope  3
Neighborhood  25
Condition1  9
Condition2  8
BldgType  5
HouseStyle  8
RoofStyle  6
RoofMatl  8
Exterior1st  15
Exterior2nd  16
MasVnrType  4
ExterQual  4
ExterCond  5
Foundation  6
BsmtQual  4
BsmtCond  4
BsmtExposure  4
BsmtFinType1  6
BsmtFinType2  6
Heating  6
HeatingQC  5
CentralAir  2
Electrical  5
KitchenQual  4
Functional  7
GarageType  6
GarageFinish  3
GarageQual  5
GarageCond  5
PavedDrive  3
SaleType  9
SaleCondition  6

In [22]:
data.shape

(2919, 76)

In [23]:
#Applying One hot encoding on categorical data
from sklearn.preprocessing import OneHotEncoder

In [24]:
enc = OneHotEncoder(handle_unknown='ignore')

In [25]:
enc_df = pd.DataFrame(enc.fit_transform(data[cat_cols1]).toarray())

In [26]:
enc_df=enc_df.reset_index(drop=True)
enc_df

,0,1,2,3,4,5,6,7,8,9,...,224,225,226,227,228,229,230,231,232,233
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2915,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2916,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2917,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2918,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [27]:
data=data.reset_index(drop=True)
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,RM,21.0,1936,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,6,2006,WD,Normal,99
2915,2916,160,RM,21.0,1894,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,4,2006,WD,Abnorml,99
2916,2917,20,RL,160.0,20000,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2006,WD,Abnorml,99
2917,2918,85,RL,62.0,10441,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,700,7,2006,WD,Normal,99
2918,2919,60,RL,74.0,9627,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,11,2006,WD,Normal,99

In [28]:
data1=pd.concat([data,enc_df],axis=1)

In [29]:
data1.shape

(2919, 310)

In [30]:
#Now drop the Cat_cols
data1.drop(columns=cat_cols1,axis=1,inplace=True)

In [31]:
data1

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,224,225,226,227,228,229,230,231,232,233
0,1,60,65.0,8450,7,5,2003,2003,196.0,706.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,21.0,1936,4,7,1970,1970,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2915,2916,160,21.0,1894,4,5,1970,1970,0.0,252.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2916,2917,20,160.0,20000,5,7,1960,1996,0.0,1224.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2917,2918,85,62.0,10441,5,5,1992,1992,0.0,337.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2918,2919,60,74.0,9627,7,5,1993,1994,94.0,758.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [32]:
data1['SalePrice']=data1['SalePrice'].astype('int64')

# Now again we split the Train and Test data where Testdata['SalePrice']==99

In [33]:
#data1[i:i+1] or data1[2918:2919]= last row of dataset
test1=pd.DataFrame()
for i in range(2919):
    if data1['SalePrice'][i] == 99:
        test1=test1.append(data1[i:i+1])
test1.shape

(1459, 272)

In [34]:
test1.drop(['SalePrice'],axis=1,inplace=True)

In [35]:
test1.shape

(1459, 271)

In [38]:
#Now we SalePrice not contain 99 from our dataset for train
train1=pd.DataFrame()
for i in range(2919):
    if data1['SalePrice'][i] != 99:
        train1=train1.append(data1[i:i+1])
train1.shape

(1460, 272)

In [236]:
train1.corr()['SalePrice'][0:40]

Id              -0.021917
MSSubClass      -0.084284
LotFrontage      0.334544
LotArea          0.263843
OverallQual      0.790982
OverallCond     -0.077856
YearBuilt        0.522897
YearRemodAdd     0.507101
MasVnrArea       0.472614
BsmtFinSF1       0.386420
BsmtFinSF2      -0.011378
BsmtUnfSF        0.214479
TotalBsmtSF      0.613581
1stFlrSF         0.605852
2ndFlrSF         0.319334
LowQualFinSF    -0.025606
GrLivArea        0.708624
BsmtFullBath     0.227122
BsmtHalfBath    -0.016844
FullBath         0.560664
HalfBath         0.284108
BedroomAbvGr     0.168213
KitchenAbvGr    -0.135907
TotRmsAbvGrd     0.533723
Fireplaces       0.466929
GarageYrBlt      0.469056
GarageCars       0.640409
GarageArea       0.623431
WoodDeckSF       0.324413
OpenPorchSF      0.315856
EnclosedPorch   -0.128578
3SsnPorch        0.044584
ScreenPorch      0.111447
PoolArea         0.092404
MiscVal         -0.021190
MoSold           0.046432
YrSold          -0.028923
SalePrice        1.000000
0               -0.111257
1                0.089950
Name: SalePrice, dtype: float64

In [336]:
drop_cols=['Id','MSSubClass','SalePrice']

# Features selection

In [337]:
X=train1.drop(columns=drop_cols,axis=1)
y=train1['SalePrice']

In [338]:
X.shape

(1460, 269)

In [339]:
y.shape

(1460,)

In [340]:
from sklearn.model_selection import train_test_split

In [341]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=40)

# Lets do scaling

In [342]:
from sklearn.preprocessing import RobustScaler

In [343]:
tr=RobustScaler()

In [344]:
drop_cols.remove('SalePrice')

In [345]:
test2=test1.drop(columns=drop_cols,axis=1)

In [346]:
scaled_X_train=tr.fit_transform(X_train)
scaled_X_test=tr.transform(X_test)
scaled_test=tr.transform(test2)

In [347]:
from sklearn.metrics import r2_score

In [348]:
import xgboost as xgb

In [357]:
#xg=xgb.XGBRegressor(colsample_bytree = 0.47, learning_rate = 0.05,
#                max_depth =7,n_estimators =250,n_jobs=20)
xg=xgb.XGBRegressor(colsample_bytree = 0.40, learning_rate = 0.05,
                    max_depth =7,n_estimators =350,n_jobs=20)

In [358]:
xg.fit(scaled_X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.05, max_delta_step=0, max_depth=7,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=350, n_jobs=20, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [359]:
pred2=xg.predict(scaled_X_test)

In [360]:
r2_score(pred2,y_test)

0.9042589636160152

In [361]:
xgb_pred=xg.predict(scaled_test)

In [362]:

# create sample submission file and submit
predict1=pd.DataFrame(xgb_pred)
sub_df1=pd.read_csv('sample_submission.csv')
dataset1=pd.concat([sub_df1['Id'],predict1],axis=1)
dataset1.columns=['Id','SalePrice']
dataset1.to_csv('xgb5_submission.csv',index=False)

In [137]:
# Linear regression gives really bad score near 0.34 on leaderboard so dont use